body {
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    background-image: url(a2.jpg);
    background-color: #cfeefc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.password-manager {
    background-color:rgb(90, 134, 213);
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

.form-group {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e62828;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #cc0000;
}

